<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Blog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>cn.tedu.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>cn.tedu.controller.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>cn.tedu.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleServlet</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>cn.tedu.controller.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendServlet</display-name>
    <servlet-name>SendServlet</servlet-name>
    <servlet-class>cn.tedu.controller.SendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendServlet</servlet-name>
    <url-pattern>/SendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendActionServlet</display-name>
    <servlet-name>SendActionServlet</servlet-name>
    <servlet-class>cn.tedu.controller.SendActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendActionServlet</servlet-name>
    <url-pattern>/SendActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRegServlet</display-name>
    <servlet-name>ShowRegServlet</servlet-name>
    <servlet-class>cn.tedu.controller.ShowRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRegServlet</servlet-name>
    <url-pattern>/ShowRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>cn.tedu.controller.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowLoginServlet</display-name>
    <servlet-name>ShowLoginServlet</servlet-name>
    <servlet-class>cn.tedu.controller.ShowLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLoginServlet</servlet-name>
    <url-pattern>/ShowLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.tedu.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCookieServlet</display-name>
    <servlet-name>AddCookieServlet</servlet-name>
    <servlet-class>cn.tedu.controller.AddCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCookieServlet</servlet-name>
    <url-pattern>/AddCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookieServlet</display-name>
    <servlet-name>GetCookieServlet</servlet-name>
    <servlet-class>cn.tedu.controller.GetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieServlet</servlet-name>
    <url-pattern>/GetCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountServlet</display-name>
    <servlet-name>CountServlet</servlet-name>
    <servlet-class>cn.tedu.controller.CountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountServlet</servlet-name>
    <url-pattern>/CountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.tedu.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>demo</filter-name>
  	<filter-class>cn.tedu.web.DemoFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>demo</filter-name>
  	<url-pattern>/imgs/logo.png</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>demo2</filter-name>
  	<filter-class>cn.tedu.web.DemoFilter2</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>demo2</filter-name>
  	<url-pattern>/imgs/bee1.png</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>access</filter-name>
  	<filter-class>cn.tedu.web.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>access</filter-name>
  	<url-pattern>/imgs/logo.png</url-pattern>
  </filter-mapping>
   <filter>
  	<filter-name>encoding</filter-name>
  	<filter-class>cn.tedu.web.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>encoding</filter-name>
  	<url-pattern>/</url-pattern>
  </filter-mapping>
  
</web-app>