@charset "UTF-8";
nav{
	background-image: url("../images/th.jpg");
}
.row1{
	 /* 设置省略号 */ 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* 设置显示行数 */ 
    -webkit-line-clamp:1;
    /* 超出范围不显示 */
    overflow: hidden;
}
.row4{
	 /* 设置省略号 */ 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* 设置显示行数 */ 
    -webkit-line-clamp:4;
    /* 超出范围不显示 */
    overflow: hidden;
}
/* 让搜索框变短 */
#keyword_input{
	width: 130px;
}




